.edit {
      margin-bottom: 174px; 
}


.edit__form {
}


.edit__avatar {
      display: flex;
      align-items: center;
      margin-bottom: 113px;
}


.edit__avatar-image {
      max-width: 437px;
      width: 100%;
      border-radius: 50%;
      margin-right: 106px;
}


.edit__avatar-load {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      font-size: 38px;
}



.edit__label-avatar {
      display: flex;
      align-items: center;
      gap: 2px;
      margin-bottom: 11px;
      cursor: pointer;
}


.edit__input-file {
      display: none;
}


.edit__input-file--avatar {
      display: flex;
      align-items: center;
      gap: 2px;
}


.edit__avatar-delete {
      display: flex;
      align-items: center;
      gap: 2px;
}


.edit__name {
      display: flex;
      gap: 36px;
      margin-bottom: 44px;
}


.edit__label {
      max-width: 686px;
}


.edit__input {
      display: block;
      width: 100%;
      height: 100px;
      padding: 22px 32px;
      font-size: 48px;
      border-radius: 15px;
      border: 0;
}


.edit__label-text {
      display: block;
      margin-bottom: 14px;
      font-size: 50px;
}



.edit__label--select{
      position: relative; /* отнсоительно этого элемента позиционируем стрелочку вниз */
}


.edit__label--select::after{ /* псевдоелэмент - стрелочка вниз у выпадающего списка*/
      content: '';
      position: absolute;

      display: block;
      width: 34px;
      height: 34px;

      right: 0;
      top: 50%; 
      transform: translateY(-50%);
      background-image: url('../img/arrow-down.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain; /* заполнит все пространоство */
      pointer-events: none; /* чтобы при клике на стрлеочку выпадашка рабоатла */
}



.edit__label--select:focus-within::after{ /* если внутри этого элемента будет фокус */
      transform: translateY(-50%) rotate(180deg); /* при нажатии на списко, стелочка будет перворачиваться */
}


.edit__birthdate {
      display: flex;
      gap: 12px;
      margin-bottom: 44px;
}


.edit__select {
      appearance: none;  /* чтобы втсроеная стрелочка(станлартная) исчезла */
      padding: 22px 0;
      padding-left: 32px;
      padding-right: 16px;
      background-color: #FFFFFF;
      border-radius: 15px;
      font-size: 48px;
      cursor: pointer;
      outline: none;
}


.edit__description {
      font-size: 38px;
}


.edit__description-input{
      max-width: 1420px;
      width: 100%;
      min-height: 250px;
      margin-bottom: 68px;
      padding: 35px 32px;
      border: 3px solid #365ABA;
      border-radius: 15px;
      font-size: 38px;
      resize: none;  /* не изменять размеры */
}


.edit__wish {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 44px 36px;
      margin-bottom: 44px;
}


.edit__wish-price {
      display: flex;
      gap: 36px;
      align-items: flex-end;
}


.edit__label--price{
     flex-basis: 50%;
     flex-grow: 0;
     flex-shrink: 1;
}


.edit__select--currency {
      width: 100%;
}


.edit__wish-photo {
      position: relative; /*крестик позиционирем относительно этого жлемента*/
      width: 285px;
      height: 285px;
      margin-bottom: 152px; 
}


.edit__label-photo {
      display: inline-block;
      position: relative;
      cursor: pointer; 
}

.edit__wish-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      border-radius: 15px;
}


.edit__wish-delete{
    position: absolute;
    top: 8px;
    right: 8px;      

}


.edit__submit-btn {
      margin-right: 22px;
}


.edit__submit-btn:last-child {
      margin-right: 0;
}


@media(max-width: 1200px) { /* <1200 */

     
      .edit__avatar{
            margin-bottom: 56px;
      }

      .edit__avatar-image {
            max-width: 466px;
            margin-right: 34px;
      }

     .edit__name{
            flex-direction: column;
            gap: 40px;
            margin-bottom: 30px;
      }

      .edit__birthdate{
            margin-bottom: 40px;
      }

      .edit__description{
            font-size: 38px;
            margin-bottom: 40px;
      }

      .edit__description-input{
            min-height: 311px;
      }

      .edit__wish{
            grid-template-columns: 1fr;
      }

}
