.hero{  /* флекс элемент */
      flex-grow: 1;  /* растянется на всю высоту */
      padding: 20px 0;
}


.hero__container{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
}


.hero__title{
      font-family: 'Aclonica';
      font-weight: 400;
      font-size: 312px;
      text-transform: uppercase;
      margin-bottom: 24px;
}



.hero__description {
      max-width: 940px;
      margin-bottom: 135px;
      font-size: 46px;
      text-align: center;
      text-transform: uppercase;
}


.hero__steps {
}


