.item {
      display: flex;
      flex-direction: column;
      align-items: center;
      min-height: 607px;  /*если текста будет много, чтоб он не выпадал из блока*/
      background: #FFFFFF;
      border-radius: 15px;
      padding: 28px 35px 43px;
      color: #282828;
      font-weight: 400;
      font-size: 28px;
}


.item__image{
      width: 300px;
      height: 300px;
      margin-bottom: 36px;
}


.item__title {
      margin-bottom: 6px;
      text-align: center;
}


.item__price {
      flex-grow: 1;
      margin-bottom: 10px;
}



@media(max-width: 1200px) { /* <1200 */

      .item__image{
            margin-bottom: 40px;
      }
      
}


