.nav {
      display: flex;
      
     
}


.nav__btn {
      margin-right: 22px;
}


.nav__btn:last-child {
      margin-right: 0;
}



@media(max-width: 1700px) { /* <1700 */

     

}



@media(max-width: 1200px) { /* <1200 */

      .nav__btn {
           margin-right: 18px;
      }

}