.profile {
      display: flex;
      gap: 196px;
      align-items: center;  
}


.profile__avatar {
      max-width: 437px;
      width: 100%;
      /* height: 437px; */
      border-radius: 50%;
}


.profile__content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
}


.profile__fullname {
      margin-bottom: 12px;
      font-size: 50px;
      font-weight: 400;  
}


.profile__birthday {
      font-size: 38px;
      margin-bottom: 44px;
}


.profile__edit {
      display: flex;
      align-items: center;
      gap: 7px;  
      font-size: 32px;
}


@media(max-width: 1200px) { /* <1200 */

      .profile__avatar {
            max-width: 466px;
            margin-right: 34px;
      }
      
      
      .profile__content {
            padding-bottom: 145px;
      }
      
      
      
      
      .profile__birthday {
            font-size: 32px;
            margin-bottom: 12px;
      }
      
      
      .profile__edit {
            display: flex;
            align-items: center;
            gap: 7px;  
            font-size: 32px;
      }
      
      
      

}