.steps {
      display: flex;
      justify-content: center;
      gap: 44px; 
      counter-reset: steps-counter;   /* steps-counter это сами задали название счетчика */
}


.steps__item {
      display: flex; /* чтоюы циферки около текста сделать псевдоэлементами */
      align-items: center;
      flex-basis: 243px;
      gap: 16px; 
      font-size: 18px;
      line-height: 21px;
}


.steps__item::before { /* псевдоэлмент - циферка */
      content: counter(steps-counter);    /* steps-counter - счетчик используем */
      counter-increment: steps-counter;   /* увеличиваем счетчик */
      font-size: 92px;
      color: rgba(255, 255, 255, 0.6);
      margin-right: 16px;

}