.wishList {
      padding-bottom: 174px;
}


.wishList__profile {
      margin-bottom: 44px;
}


.wishList__description {
      margin-bottom: 77px;
      font-size: 38px;
      line-height: 45px;
}


.wishList__items {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 50px 40px;
}


@media(max-width: 1700px) { /* <1700 */
      
      .wishList__items {
            gap: 30px 20px;
      }
     

}



@media(max-width: 1200px) { /* <1200 */

      .wishList__profile {
            margin-bottom: 56px;
      }
      
      .wishList__items {
            grid-template-columns: repeat(2, 1fr);
            gap: 30px 20px;
      }

      .wishList__description {
            margin-bottom: 84px;
            font-size: 32px;
            line-height: 38px;
      }
     

}



